# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "hotel_booking_train_1m.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [2]:
df = pd.read_csv("hotel_booking_train_1m.csv")
type(df)

pandas.core.frame.DataFrame

### Q3. df의 첫 5개 row를 출력하시오

In [ ]:
df.head()

### Q4. df의 마지막 2개 row를 출력하시오

In [ ]:
df.tail(2)

### Q5. df의 차원을 확인하시오

In [ ]:
df.ndim

### Q6. df의 row 개수를 확인하시오

In [ ]:
len(df)

### Q7. df의 column 개수를 확인하시오

In [ ]:
df.shape[1]

### Q8. df의 column 이름을 확인하시오

In [ ]:
df.columns

### Q9. 총 몇 개의 웹사이트에서 데이터[site_name]가 수집되어있는지 조사하시오.

In [3]:
len(set(df["site_name"]))

42

### Q10. 총 몇 개의 대륙에서 데이터[posa_continent]가 수집되어있는지 조사하시오.

In [4]:
len(set(df["posa_continent"]))

5

### Q11. 유입 채널[channel]과 예약[is_booking]여부 데이터를 기반으로 표(crosstab)을 생성하시오.

In [5]:
pd.crosstab(df["channel"], df["is_booking"])

is_booking       0      1
channel
0           115153   9059
1            94389   6902
2            73920   4724
3            41934   2498
4            19034   2914
5            55890   5744
6             1540     82
7             7939    359
8             2689    243
9           508009  46798
10             168     12

### Q12. 유입 채널[channel]별 예약[is_booking] 비율을 계산하고 이를 cross 객체에 저장하시오.

In [15]:
cross = pd.crosstab(df["channel"], df["is_booking"], normalize = 0)# "index"
cross

is_booking         0         1
channel
0           0.927068  0.072932
1           0.931860  0.068140
2           0.939932  0.060068
3           0.943779  0.056221
4           0.867232  0.132768
5           0.906805  0.093195
6           0.949445  0.050555
7           0.956737  0.043263
8           0.917121  0.082879
9           0.915650  0.084350
10          0.933333  0.066667

In [9]:
round(pd.crosstab(df["channel"], df["is_booking"], normalize = 0) * 100, 2)

is_booking      0      1
channel
0           92.71   7.29
1           93.19   6.81
2           93.99   6.01
3           94.38   5.62
4           86.72  13.28
5           90.68   9.32
6           94.94   5.06
7           95.67   4.33
8           91.71   8.29
9           91.56   8.44
10          93.33   6.67

---------------------------
여기부터 cross 객체를 기준으로 문제를 해결하시오.

---------------------------
### Q13. 예약비율이 가장 높은 유입 채널은 몇 번인가?
(단, 숫자 하나만 출력 되어야 한다.)

In [21]:
type(cross)

pandas.core.frame.DataFrame

In [30]:
# 1)
# cross[1].max()
cross.loc[cross[1] == cross[1].max(), :].index[0]

4

In [33]:
# 2)
cross[1].idxmax()

4

### Q14. 예약 비율이 가장 높은 유입 채널의 예약비율을 소수점 셋 째 자리까지 반올림하여 구하시오.
(정답 예시: 0.456)

In [36]:
print(round(cross[1].max(), 3))
print(cross[1].max().round(3))

0.133
0.133

### Q15. 유입 채널별 예약비율 정보를 "info.csv"에 저장하시오.

In [ ]:
cross.to_csv("info.csv", index = False)